[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "rsleep"]
	path = rsleep
	url = https://github.com/boupetch/rsleep
	shallow = true
	registered = true
